In [1]:
from prepared_data.get_prepared_data import  get_prepared_data
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline
from prepared_data.prepared_test_results import result_predict_prob_to_dataFrame, not_duplicate_elements_in_dataframes, append_test_results, completed_test_result_and_save

In [5]:
data = pd.read_csv('data/train.csv')
data = get_prepared_data(data, number_of_history_matches=8)
data

/home/andrzej/PycharmProjects/Physionet_Challenge_2021/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

correction col type..
percent of object with nan value:  42.20
remove coach columns..
percent of object with nan value:  18.64
remove object with more that  col 80 empty...
percent of object with nan value:  18.64
remove history columns
percent of object with nan value:  15.11
remove all nan data
percent of object with nan value:  15.11

,target,is_cup,home_team_history_match_date_1,home_team_history_match_date_2,home_team_history_match_date_3,home_team_history_match_date_4,home_team_history_match_date_5,home_team_history_match_date_6,home_team_history_match_date_7,home_team_history_match_date_8,...,home_team_history_target_7_1.0,away_team_history_target_7_-1.0,away_team_history_target_7_0.0,away_team_history_target_7_1.0,home_team_history_target_8_-1.0,home_team_history_target_8_0.0,home_team_history_target_8_1.0,away_team_history_target_8_-1.0,away_team_history_target_8_0.0,away_team_history_target_8_1.0
id,,,,,,,,,,,,,,,,,,,,,
11989265,-1,1,78,258,75,193,67,103,88,74,...,1,0,0,1,1,0,0,0,1,0
16865249,1,1,219,168,286,71,49,3145,67,76,...,0,0,0,1,0,0,1,0,0,1
16916583,1,1,94,627,93,99,93,74,168,69,...,0,1,0,0,0,1,0,0,0,1
16940078,-1,1,167,168,119,123,117,121,96,96,...,1,0,0,1,0,0,1,0,0,1
17213503,1,1,100,92,76,144,92,126,238,72,...,0,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17882059,1,1,504,1135,712,168,168,168,505,168,...,0,0,1,0,0,1,0,1,0,0
17887522,-1,1,127,167,208,72,96,127,545,1133,...,0,1,0,0,1,0,0,1,0,0
17882061,-1,1,545,1133,715,168,168,168,505,168,...,0,0,0,1,1,0,0,0,0,1
17882060,1,1,504,1344,504,168,168,168,505,168,...,0,0,0,1,0,1,0,0,0,1
17887523,1,1,127,167,208,72,96,168,504,1344,...,1,1,0,0,0,1,0,0,1,0

/home/andrzej/PycharmProjects/Physionet_Challenge_2021/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

correction col type..
percent of object with nan value:  42.20
remove coach columns..
percent of object with nan value:  18.64
remove object with more that  col 80 empty...
percent of object with nan value:  18.64
remove history columns
percent of object with nan value:  15.11
remove all nan data
percent of object with nan value:  15.11

,target,is_cup,home_team_history_match_date_1,home_team_history_match_date_2,home_team_history_match_date_3,home_team_history_match_date_4,home_team_history_match_date_5,home_team_history_match_date_6,home_team_history_match_date_7,home_team_history_match_date_8,...,home_team_history_target_7_1.0,away_team_history_target_7_-1.0,away_team_history_target_7_0.0,away_team_history_target_7_1.0,home_team_history_target_8_-1.0,home_team_history_target_8_0.0,home_team_history_target_8_1.0,away_team_history_target_8_-1.0,away_team_history_target_8_0.0,away_team_history_target_8_1.0
id,,,,,,,,,,,,,,,,,,,,,
11989265,-1,1,78,258,75,193,67,103,88,74,...,1,0,0,1,1,0,0,0,1,0
16865249,1,1,219,168,286,71,49,3145,67,76,...,0,0,0,1,0,0,1,0,0,1
16916583,1,1,94,627,93,99,93,74,168,69,...,0,1,0,0,0,1,0,0,0,1
16940078,-1,1,167,168,119,123,117,121,96,96,...,1,0,0,1,0,0,1,0,0,1
17213503,1,1,100,92,76,144,92,126,238,72,...,0,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17882059,1,1,504,1135,712,168,168,168,505,168,...,0,0,1,0,0,1,0,1,0,0
17887522,-1,1,127,167,208,72,96,127,545,1133,...,0,1,0,0,1,0,0,1,0,0
17882061,-1,1,545,1133,715,168,168,168,505,168,...,0,0,0,1,1,0,0,0,0,1
17882060,1,1,504,1344,504,168,168,168,505,168,...,0,0,0,1,0,1,0,0,0,1
17887523,1,1,127,167,208,72,96,168,504,1344,...,1,1,0,0,0,1,0,0,1,0

In [2]:
train_org = pd.read_csv('data/train.csv')
train = get_prepared_data(train_org)
test_org = pd.read_csv('data/test.csv')
test_history_8 = get_prepared_data(test_org)

/home/andrzej/PycharmProjects/Physionet_Challenge_2021/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

correction col type..
percent of object with nan value:  42.20
remove coach columns..
percent of object with nan value:  18.64
remove object with more that  col 80 empty...
percent of object with nan value:  18.64
remove history columns
percent of object with nan value:  18.64
remove all nan data
percent of object with nan value:  18.64

ValueError: Columns must be same length as key

In [3]:

target = train['target']
X_train_org = train.drop('target',axis=1)
pipe =  make_pipeline( MinMaxScaler(),LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr', max_iter=1000, n_jobs =-1))
pipe.fit(X_train_org,target)

Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                ('logisticregression',
                 LogisticRegression(max_iter=1000, multi_class='ovr', n_jobs=-1,
                                    random_state=0))])

In [4]:
test_result = pipe.predict_proba(test_history_8)
test_result = result_predict_prob_to_dataFrame(test_result, test_history_8)
test_result

             id      away      draw      home
0      18395561  0.495436  0.186875  0.317689
1      18304452  0.369690  0.180844  0.449466
2      18137442  0.261484  0.180792  0.557724
3      18395544  0.328268  0.169833  0.501899
4      18395608  0.348780  0.177417  0.473803
...         ...       ...       ...       ...
64590  18447910  0.166693  0.134085  0.699221
64591  18447909  0.047950  0.135297  0.816753
64592  18448332  0.572286  0.158145  0.269569
64593  18449955  0.153460  0.205105  0.641434
64594  18449954  0.538874  0.264332  0.196794

[64595 rows x 4 columns]

Training for nan value

In [5]:
train_org = pd.read_csv('data/train.csv')
train = get_prepared_data(train_org,number_of_history_matches=1)
test_org = pd.read_csv('data/test.csv')
test_history_1 = get_prepared_data(test_org, number_of_history_matches=1)
test_history_1 = not_duplicate_elements_in_dataframes(test_history_1.reset_index(), test_history_8)
test_history_1

/home/andrzej/PycharmProjects/Physionet_Challenge_2021/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

correction col type..
percent of object with nan value:  42.20
remove coach columns..
percent of object with nan value:  18.64
remove object with more that  col 80 empty...
percent of object with nan value:  18.64
remove all day historii without 1
percent of object with nan value:  5.62
remove all nan data
percent of object with nan value:  5.62
correction col type..
percent of object with nan value:  39.35
remove coach columns..
percent of object with nan value:  13.93
remove object with more that  col 80 empty...
percent of object with nan value:  13.93
remove all day historii without 1
percent of object with nan value:  2.99
remove all nan data
percent of object with nan value:  2.99
Number of not duplicate elements  5932

,is_cup,home_team_history_match_date_1,home_team_history_is_play_home_1,home_team_history_is_cup_1,home_team_history_goal_1,home_team_history_opponent_goal_1,home_team_history_rating_1,home_team_history_opponent_rating_1,away_team_history_match_date_1,away_team_history_is_play_home_1,...,home_team_mean_regeneration_time,away_team_history_gol_difference_1,away_team_mean_regeneration_time,league_id_ratting,home_team_history_target_1_-1.0,home_team_history_target_1_0.0,home_team_history_target_1_1.0,away_team_history_target_1_-1.0,away_team_history_target_1_0.0,away_team_history_target_1_1.0
id,,,,,,,,,,,,,,,,,,,,,
18413354,1,91,1.0,0.0,3.0,1.0,5.358906,9.495169,648,1.0,...,91.0,1.0,648.0,7.221377,0,0,1,0,0,1
18414545,1,144,1.0,0.0,3.0,1.0,6.042328,6.110778,235,1.0,...,144.0,2.0,235.0,7.221377,0,0,1,0,0,1
18412923,1,1099,0.0,0.0,2.0,2.0,8.476650,11.051250,168,0.0,...,1099.0,2.0,168.0,7.221377,0,1,0,0,0,1
18412901,1,336,1.0,0.0,4.0,2.0,7.694850,5.019463,259,1.0,...,336.0,2.0,259.0,7.221377,0,0,1,0,0,1
18412907,1,168,0.0,0.0,2.0,1.0,6.497580,6.940565,67,1.0,...,168.0,3.0,67.0,7.221377,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18447253,1,48,0.0,1.0,3.0,2.0,7.451386,4.802329,72,1.0,...,48.0,1.0,72.0,8.721232,0,0,1,0,0,1
18447254,1,120,0.0,1.0,1.0,2.0,7.434050,6.043600,120,1.0,...,120.0,0.0,120.0,8.721232,1,0,0,0,1,0
18447213,1,71,1.0,0.0,2.0,0.0,5.545267,6.207833,96,1.0,...,71.0,4.0,96.0,8.721232,0,0,1,0,0,1
18447198,1,288,0.0,1.0,1.0,1.0,8.184250,5.556950,120,0.0,...,288.0,1.0,120.0,8.721232,0,1,0,0,0,1
18448437,1,72,0.0,1.0,2.0,1.0,8.003250,4.529750,120,1.0,...,72.0,1.0,120.0,10.806159,0,0,1,0,0,1

In [6]:
target = train['target']
X_train_org = train.drop('target',axis=1)
pipe =  make_pipeline( MinMaxScaler(),LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr', max_iter=1000, n_jobs =-1))
pipe.fit(X_train_org,target)

Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                ('logisticregression',
                 LogisticRegression(max_iter=1000, multi_class='ovr', n_jobs=-1,
                                    random_state=0))])

In [7]:
test_result_history_1 = pipe.predict_proba(test_history_1)
test_result_history_1 = result_predict_prob_to_dataFrame(test_result_history_1, test_history_1)
test_result_history_1

            id      away      draw      home
0     18413354  0.416721  0.208302  0.374977
1     18414545  0.469199  0.213460  0.317342
2     18412923  0.450487  0.205704  0.343808
3     18412901  0.385647  0.183070  0.431283
4     18412907  0.371176  0.210267  0.418557
...        ...       ...       ...       ...
5927  18447253  0.287196  0.155095  0.557710
5928  18447254  0.422892  0.162314  0.414794
5929  18447213  0.556066  0.173393  0.270540
5930  18447198  0.182412  0.130869  0.686719
5931  18448437  0.237206  0.110043  0.652751

[5932 rows x 4 columns]

In [8]:
test_result_learn = append_test_results(test_result_history_1, test_result)
test_result_learn

             id      away      draw      home
0      18413354  0.416721  0.208302  0.374977
1      18414545  0.469199  0.213460  0.317342
2      18412923  0.450487  0.205704  0.343808
3      18412901  0.385647  0.183070  0.431283
4      18412907  0.371176  0.210267  0.418557
...         ...       ...       ...       ...
70522  18447910  0.166693  0.134085  0.699221
70523  18447909  0.047950  0.135297  0.816753
70524  18448332  0.572286  0.158145  0.269569
70525  18449955  0.153460  0.205105  0.641434
70526  18449954  0.538874  0.264332  0.196794

[70527 rows x 4 columns]

In [9]:
result_all = completed_test_result_and_save(test_org,test_result_learn,'logist_regression')
result_all

Number of not duplicate elements  2184

             id      away      draw      home
0      18413354  0.416721  0.208302  0.374977
1      18414545  0.469199  0.213460  0.317342
2      18412923  0.450487  0.205704  0.343808
3      18412901  0.385647  0.183070  0.431283
4      18412907  0.371176  0.210267  0.418557
...         ...       ...       ...       ...
72706  18441638  0.310000  0.270000  0.420000
72707  18150684  0.310000  0.270000  0.420000
72708  18147374  0.310000  0.270000  0.420000
72709  18160935  0.310000  0.270000  0.420000
72710  18118302  0.310000  0.270000  0.420000

[72711 rows x 4 columns]