In [2]:
from prepared_data.get_prepared_data import  get_prepared_data, get_prepared_test
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline
from prepared_data.prepared_test_results import result_predict_prob_to_dataFrame, not_duplicate_elements_in_dataframes, append_test_results, completed_test_result_and_save

In [3]:
train_org = pd.read_csv('data/train.csv')
train, league_mean_ratting_all, teams_ratting_all  = get_prepared_data(train_org)
teams_ratting_all

/home/andrzej/PycharmProjects/Physionet_Challenge_2021/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

correction col type..
percent of object with nan value:  42.20
remove coach columns..
percent of object with nan value:  18.64
remove object with more that  col 80 empty...
percent of object with nan value:  18.64
remove history columns
percent of object with nan value:  15.11
remove all nan data
percent of object with nan value:  15.11

,07 Vestur,1. FC M'gladbach,1. FC Merseburg,1. Maj Ruma,12 de Octubre,1860 München,1860 München II,1860 Rosenheim,1877 Alemdağspor,1880 Wasserburg,...,Wolves,Yafoot,Zhlobin,Älvsjö AIK W,Åland,Åland United W,Çarşambaspor,Épila,Érdi VSE,ÍBU
home_team_history_rating_1,8.247721,4.735950,6.974668,1.461400,4.542867,6.439402,10.189010,4.729081,5.064542,5.528680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_history_rating_1,7.350362,5.972467,8.583335,6.199050,4.885013,6.937842,5.554950,5.221107,5.156260,7.847170,...,6.212290,2.763339,7.265364,5.319450,8.049517,9.545010,5.111615,5.158081,6.589200,8.078382
home_team_history_rating_2,8.532616,5.355725,8.814662,8.418200,4.806454,6.645256,8.547972,6.101598,5.369217,7.847170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_history_rating_2,6.908470,4.735950,7.365322,1.461400,4.706100,6.555754,10.189010,4.729081,4.852948,9.701936,...,6.183096,3.138267,4.723370,6.791050,15.266450,8.516831,5.548759,4.480228,4.234285,13.150767
home_team_history_rating_3,8.856112,5.640194,7.341014,6.241900,4.900469,6.584791,3.752905,5.065149,4.913009,9.701936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_history_rating_3,6.748184,5.355725,8.191349,8.418200,4.714871,6.619288,8.547972,6.101598,4.943627,9.356725,...,6.252702,3.452772,7.576471,6.807008,14.171193,9.446250,5.546972,4.844197,7.339883,10.740400
home_team_history_rating_4,7.934810,8.042094,8.578879,8.027725,4.863077,6.447406,7.416014,6.443605,5.103263,9.356725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_history_rating_4,9.464661,5.640194,7.796437,6.241900,4.784917,6.645606,3.752905,5.065149,5.249407,10.171836,...,5.282335,3.950805,7.358263,6.831733,10.280550,9.850811,6.028750,5.636585,3.515693,5.005294
home_team_history_rating_5,7.697220,6.610879,7.810133,7.392300,5.200468,6.806721,8.368990,5.604541,5.400142,10.171836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_history_rating_5,9.794950,8.042094,8.313656,8.027725,4.645906,6.315494,7.416014,6.443605,4.768613,9.631819,...,4.998855,3.679646,8.715285,5.258270,11.081358,9.447794,5.883482,4.749920,7.423083,5.087044
home_team_history_rating_6,8.642930,8.333661,8.583455,6.671700,4.810785,6.304914,6.211369,5.670918,5.072112,9.631819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_history_rating_6,8.284307,6.610879,8.613652,7.392300,5.098282,6.803073,8.368990,5.604541,5.097015,11.568136,...,5.996008,3.151221,6.561093,4.393917,13.396170,13.180269,6.250227,5.845883,9.318592,9.708429
home_team_history_rating_7,8.676215,8.524733,8.547724,2.985375,5.221518,6.852614,8.612300,5.598865,5.435743,11.568136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_history_rating_7,8.574494,8.333661,8.598885,6.671700,4.696382,6.246632,6.211369,5.670918,4.858133,8.117914,...,6.025588,4.960400,6.373933,6.175713,10.931300,16.148421,6.412616,6.193402,8.498467,9.106167
home_team_history_rating_8,8.104860,9.028083,7.968504,6.577475,5.113963,6.276615,8.536272,5.946340,5.324157,8.117914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_history_rating_8,8.206035,8.524733,8.506705,2.985375,4.850997,6.762788,8.612300,5.598865,4.948547,8.604987,...,5.699423,6.212450,4.333900,13.057100,9.563086,11.226036,6.596890,5.905615,4.068580,6.245825

In [8]:
test_org = pd.read_csv('data/test.csv')
test  = get_prepared_test(test_org, league_mean_ratting_all, teams_ratting_all )

correction col type..
percent of object with nan value:  39.35
remove coach columns..
percent of object with nan value:  13.93
remove object with more that  col 80 empty...
percent of object with nan value:  13.93
remove history columns
percent of object with nan value:  11.15
remove all nan data
percent of object with nan value:  11.15

,is_cup,home_team_history_match_date_1,home_team_history_match_date_2,home_team_history_match_date_3,home_team_history_match_date_4,home_team_history_match_date_5,home_team_history_match_date_6,home_team_history_match_date_7,home_team_history_match_date_8,home_team_history_is_play_home_1,...,home_team_history_target_7_1.0,away_team_history_target_7_-1.0,away_team_history_target_7_0.0,away_team_history_target_7_1.0,home_team_history_target_8_-1.0,home_team_history_target_8_0.0,home_team_history_target_8_1.0,away_team_history_target_8_-1.0,away_team_history_target_8_0.0,away_team_history_target_8_1.0
id,,,,,,,,,,,,,,,,,,,,,
18217690,1,168,166,1152,72,70,191,98,165,1.0,...,1,1,0,0,1,0,0,0,1,0
18017200,1,98,93,74,93,74,93,74,69,1.0,...,1,0,0,1,0,0,1,0,0,1
18395567,1,101,285,119,74,68,100,69,96,1.0,...,0,0,0,1,0,0,1,0,0,1
18304447,1,72,70,97,94,198,69,74,121,0.0,...,1,0,0,1,0,0,1,0,0,1
18349436,1,98,93,98,71,73,94,98,143,0.0,...,1,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18109223,0,240,168,119,264,412,625,384,408,0.0,...,0,0,1,0,0,0,1,1,0,0
18148017,0,336,287,264,552,316,600,119,120,1.0,...,0,0,1,0,0,0,1,0,0,1
18125499,0,169,118,0,119,144,0,191,359,0.0,...,0,1,0,0,0,1,0,1,0,0
18082058,0,0,191,359,0,167,0,147,168,1.0,...,0,0,0,1,0,1,0,0,1,0
18071048,0,263,120,144,148,192,432,72,312,0.0,...,1,1,0,0,1,0,0,0,1,0

In [15]:
target_columns = [x for x in train.columns if 'history_target' in x]
train[target_columns].sum(axis=1)

id
11989265    16
16865249    16
16916583    16
16940078    16
17213503    16
            ..
17882059    16
17887522    16
17882061    16
17882060    16
17887523    16
Length: 94169, dtype: int64

In [3]:

target = train['target']
X_train_org = train.drop('target',axis=1)
pipe =  make_pipeline( MinMaxScaler(),LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr', max_iter=1000, n_jobs =-1))
pipe.fit(X_train_org,target)

Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                ('logisticregression',
                 LogisticRegression(max_iter=1000, multi_class='ovr', n_jobs=-1,
                                    random_state=0))])

In [4]:
test_result = pipe.predict_proba(test_history_8)
test_result = result_predict_prob_to_dataFrame(test_result, test_history_8)
test_result

             id      away      draw      home
0      18395561  0.495436  0.186875  0.317689
1      18304452  0.369690  0.180844  0.449466
2      18137442  0.261484  0.180792  0.557724
3      18395544  0.328268  0.169833  0.501899
4      18395608  0.348780  0.177417  0.473803
...         ...       ...       ...       ...
64590  18447910  0.166693  0.134085  0.699221
64591  18447909  0.047950  0.135297  0.816753
64592  18448332  0.572286  0.158145  0.269569
64593  18449955  0.153460  0.205105  0.641434
64594  18449954  0.538874  0.264332  0.196794

[64595 rows x 4 columns]

Training for nan value

In [5]:
train_org = pd.read_csv('data/train.csv')
train = get_prepared_data(train_org,number_of_history_matches=1)
test_org = pd.read_csv('data/test.csv')
test_history_1 = get_prepared_data(test_org, number_of_history_matches=1)
test_history_1 = not_duplicate_elements_in_dataframes(test_history_1.reset_index(), test_history_8)
test_history_1

/home/andrzej/PycharmProjects/Physionet_Challenge_2021/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

correction col type..
percent of object with nan value:  42.20
remove coach columns..
percent of object with nan value:  18.64
remove object with more that  col 80 empty...
percent of object with nan value:  18.64
remove all day historii without 1
percent of object with nan value:  5.62
remove all nan data
percent of object with nan value:  5.62
correction col type..
percent of object with nan value:  39.35
remove coach columns..
percent of object with nan value:  13.93
remove object with more that  col 80 empty...
percent of object with nan value:  13.93
remove all day historii without 1
percent of object with nan value:  2.99
remove all nan data
percent of object with nan value:  2.99
Number of not duplicate elements  5932

,is_cup,home_team_history_match_date_1,home_team_history_is_play_home_1,home_team_history_is_cup_1,home_team_history_goal_1,home_team_history_opponent_goal_1,home_team_history_rating_1,home_team_history_opponent_rating_1,away_team_history_match_date_1,away_team_history_is_play_home_1,...,home_team_mean_regeneration_time,away_team_history_gol_difference_1,away_team_mean_regeneration_time,league_id_ratting,home_team_history_target_1_-1.0,home_team_history_target_1_0.0,home_team_history_target_1_1.0,away_team_history_target_1_-1.0,away_team_history_target_1_0.0,away_team_history_target_1_1.0
id,,,,,,,,,,,,,,,,,,,,,
18413354,1,91,1.0,0.0,3.0,1.0,5.358906,9.495169,648,1.0,...,91.0,1.0,648.0,7.221377,0,0,1,0,0,1
18414545,1,144,1.0,0.0,3.0,1.0,6.042328,6.110778,235,1.0,...,144.0,2.0,235.0,7.221377,0,0,1,0,0,1
18412923,1,1099,0.0,0.0,2.0,2.0,8.476650,11.051250,168,0.0,...,1099.0,2.0,168.0,7.221377,0,1,0,0,0,1
18412901,1,336,1.0,0.0,4.0,2.0,7.694850,5.019463,259,1.0,...,336.0,2.0,259.0,7.221377,0,0,1,0,0,1
18412907,1,168,0.0,0.0,2.0,1.0,6.497580,6.940565,67,1.0,...,168.0,3.0,67.0,7.221377,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18447253,1,48,0.0,1.0,3.0,2.0,7.451386,4.802329,72,1.0,...,48.0,1.0,72.0,8.721232,0,0,1,0,0,1
18447254,1,120,0.0,1.0,1.0,2.0,7.434050,6.043600,120,1.0,...,120.0,0.0,120.0,8.721232,1,0,0,0,1,0
18447213,1,71,1.0,0.0,2.0,0.0,5.545267,6.207833,96,1.0,...,71.0,4.0,96.0,8.721232,0,0,1,0,0,1
18447198,1,288,0.0,1.0,1.0,1.0,8.184250,5.556950,120,0.0,...,288.0,1.0,120.0,8.721232,0,1,0,0,0,1
18448437,1,72,0.0,1.0,2.0,1.0,8.003250,4.529750,120,1.0,...,72.0,1.0,120.0,10.806159,0,0,1,0,0,1

In [6]:
target = train['target']
X_train_org = train.drop('target',axis=1)
pipe =  make_pipeline( MinMaxScaler(),LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr', max_iter=1000, n_jobs =-1))
pipe.fit(X_train_org,target)

Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                ('logisticregression',
                 LogisticRegression(max_iter=1000, multi_class='ovr', n_jobs=-1,
                                    random_state=0))])

In [7]:
test_result_history_1 = pipe.predict_proba(test_history_1)
test_result_history_1 = result_predict_prob_to_dataFrame(test_result_history_1, test_history_1)
test_result_history_1

            id      away      draw      home
0     18413354  0.416721  0.208302  0.374977
1     18414545  0.469199  0.213460  0.317342
2     18412923  0.450487  0.205704  0.343808
3     18412901  0.385647  0.183070  0.431283
4     18412907  0.371176  0.210267  0.418557
...        ...       ...       ...       ...
5927  18447253  0.287196  0.155095  0.557710
5928  18447254  0.422892  0.162314  0.414794
5929  18447213  0.556066  0.173393  0.270540
5930  18447198  0.182412  0.130869  0.686719
5931  18448437  0.237206  0.110043  0.652751

[5932 rows x 4 columns]

In [8]:
test_result_learn = append_test_results(test_result_history_1, test_result)
test_result_learn

             id      away      draw      home
0      18413354  0.416721  0.208302  0.374977
1      18414545  0.469199  0.213460  0.317342
2      18412923  0.450487  0.205704  0.343808
3      18412901  0.385647  0.183070  0.431283
4      18412907  0.371176  0.210267  0.418557
...         ...       ...       ...       ...
70522  18447910  0.166693  0.134085  0.699221
70523  18447909  0.047950  0.135297  0.816753
70524  18448332  0.572286  0.158145  0.269569
70525  18449955  0.153460  0.205105  0.641434
70526  18449954  0.538874  0.264332  0.196794

[70527 rows x 4 columns]

In [9]:
result_all = completed_test_result_and_save(test_org,test_result_learn,'logist_regression')
result_all

Number of not duplicate elements  2184

             id      away      draw      home
0      18413354  0.416721  0.208302  0.374977
1      18414545  0.469199  0.213460  0.317342
2      18412923  0.450487  0.205704  0.343808
3      18412901  0.385647  0.183070  0.431283
4      18412907  0.371176  0.210267  0.418557
...         ...       ...       ...       ...
72706  18441638  0.310000  0.270000  0.420000
72707  18150684  0.310000  0.270000  0.420000
72708  18147374  0.310000  0.270000  0.420000
72709  18160935  0.310000  0.270000  0.420000
72710  18118302  0.310000  0.270000  0.420000

[72711 rows x 4 columns]